h1 {
    margin-top: 0;
    font-family: 'Calistoga', cursive;
    text-align: center;
    text-decoration: underline;
}

body {
    background-image:URL("https://www.essence.com/wp-content/uploads/2019/10/Screen-Shot-2019-10-15-at-11.39.46-AM-1920x1080.png");
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Rokkitt', serif;
    font-size: 23px;
}

.text {
    font-size: 300px;
    color: green;
}

.text:hover {
    color: #c4351f;
}

.text1 {
    font-size: 300px;
    color: #f7d83e;

}

.text1:hover {
    color: black;
}

.text2 {
    font-size: 300px;
    color: #c4351f;
}

.text2:hover {
    color: green;
}

.text3 {
    font-size: 300px;
    color: black;
}

.text3:hover {
    color: #f7d83e;
}

.about {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 40px;
    font-size: 60px;
}

.know {
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 5%;
}

.form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    padding: 12px;
    color: #ffffff8f;
    background: rgba(0, 128, 0, 0.288);
    border-radius: 20px;
    cursor: grabbing;
    width: 40%;
    margin-left: 21%;
}

.form button:hover {
    color: green;
}

.submit-form {
    background-color: green;
}

.year {
    margin-left: 7%;
}

.month {
    margin-left: 3.8%;
}

.day {
    margin-left: 8.5%;
}